$primary-color: #FBC02D;
$secondary-light:#41C300;
$error-light: #BA1A1A;
$gray1-light: #322F38;
$gray2-light: #615D66;
$light: #FFFFFF;
$secondary-dark:#64EF1F;
$error-dark: #FF3D3D;
$gray1-dark: #49454E;
$gray2-dark: #948F99;
$dark: #000000;
$gray: #7A757F;