@use '../../main.scss';
@import '../../variables';

.topWrapper{
    width: 1024px;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.category{
    width: 25%;;
}

.searchbar{
    width: 75%;;
}

.middle-wrapper{
    width: 1024px;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 32px;
}

.selection{
    width: 25%;
}

.item-section{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin: 0px 32px;
    justify-content: center;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.pageNo{
    width: 100%;
}
