
.spanStyle {
    padding: 20px;
    background: #efefef;
    color: #000000;
}
  
.divStyle {
    display: flex;
    align-Items: center;
    justify-content: center;
    background-size:cover;
    height: 400px;
  }