@use '../../../main';
@import '../../../variables';

.summary-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 100%;
}

.summaryItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.leftlable{
    text-align: right;
    font-weight: bold;
}

.btnsummary{
    width: 100%;
    margin: 16px 0px;
}